Jinja2==3.1.6
murmurhash==1.0.13
async-timeout==5.0.1
GitPython==3.1.45
typer-slim==0.20.0
cymem==2.0.11
propcache==0.4.1
catalogue==2.0.10
nvidia-cuda-cupti-cu12==12.8.90
pydantic==2.12.4
pytz==2025.2
multiprocess==0.70.18
frozenlist==1.8.0
gitdb==4.0.12
annotated-types==0.7.0
platformdirs==4.5.0
setuptools==80.9.0
threadpoolctl==3.6.0
sympy==1.14.0
wrapt==2.0.1
spacy-legacy==3.0.12
nvidia-cusparse-cu12==12.5.8.93
iniconfig==2.1.0
typing-inspection==0.4.2
srsly==2.5.1
nvidia-nvtx-cu12==12.8.90
packaging==25.0
sniffio==1.3.1
cloudpathlib==0.23.0
typing_extensions==4.15.0
wandb==0.22.3
confection==0.1.5
nvidia-cufile-cu12==1.13.1.3
weasel==0.4.2
smmap==5.0.2
sentry-sdk==2.44.0
huggingface-hub==0.36.0
aiohappyeyeballs==2.6.1
xxhash==3.6.0
mpmath==1.3.0
nvidia-cuda-nvrtc-cu12==12.8.93
RapidFuzz==3.14.3
httpcore==1.0.9
blis==1.3.0
certifi==2025.10.5
PyYAML==6.0.3
regex==2025.10.23
pandas==2.3.3
tzdata==2025.2
protobuf==6.33.0
anyio==4.11.0
click==8.3.0
tqdm==4.67.1
nvidia-curand-cu12==10.3.9.90
datasets==4.4.1
exceptiongroup==1.3.0
MarkupSafe==3.0.3
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cublas-cu12==12.8.4.1
numpy==2.0.2
torch==2.8.0
six==1.17.0
Pygments==2.19.2
multidict==6.7.0
preshed==3.0.10
aiosignal==1.4.0
urllib3==2.5.0
idna==3.11
networkx==3.2.1
attrs==25.4.0
hf-xet==1.2.0
filelock==3.19.1
scikit-learn==1.7.2
fsspec==2025.9.0
pyarrow==22.0.0
nvidia-cudnn-cu12==9.10.2.21
nvidia-cusolver-cu12==11.7.3.90
tokenizers==0.22.1
spacy-loggers==1.0.5
requests==2.32.5
aiohttp==3.13.2
nvidia-nccl-cu12==2.27.3
joblib==1.5.2
thinc==8.3.8
spacy==3.8.8
wheel==0.45.1
pydantic_core==2.41.5
transformers==4.57.1
yarl==1.22.0
pip==25.3
pytest==8.4.2
colorama==0.4.6
charset-normalizer==3.4.4
safetensors==0.6.2
scipy==1.15.3
orjson==3.11.4
nvidia-cufft-cu12==11.3.3.83
nvidia-nvjitlink-cu12==12.8.93
python-dateutil==2.9.0.post0
triton==3.4.0
tomli==2.3.0
wasabi==1.1.3
smart_open==7.5.0
pluggy==1.6.0
h11==0.16.0
httpx==0.28.1
dill==0.4.0
nvidia-cusparselt-cu12==0.7.1
